<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/vars.css" />
  <link rel="stylesheet" href="../static/loginStyle.css" />
  <link rel="icon" href="../static/favicon.ico" />
  <title>IoT数据订阅端</title>
</head>

<body>
  <div class="register-page">
    <!-- 标题区域 -->
    <header class="login-header">
      <h1 class="io-t-client-platform-thp-data-sensor-subscription">
        IoT客户端平台
        <br />
        THP数据传感器订阅
      </h1>
    </header>

    <!-- 表单区域 -->
    <main class="login-main">
      <form method="post" class="login-form">
        <div class="form-group">
          <label for="ClientID" class="client-id">客户端ID</label>
          <input class="input-ClientID" type="text" placeholder="输入客户端ID" name="ClientID" id="ClientID" />
        </div>

        <div class="form-group">
          <label for="access_key_id" class="access-key-id">AccessKey ID</label>
          <input class="input-AccessKeyID" type="text" placeholder="输入AccessKey ID" name="access_key_id"
            id="access_key_id" />
        </div>

        <div class="form-group">
          <label for="access_secret" class="access-key-secret">AccessKey Secret</label>
          <input class="input-AccessKeySecret" type="password" placeholder="输入AccessKey Secret (可选)" name="access_secret"
            id="access_secret" />
        </div>

        <button class="rectangle-4" type="submit">
          <span class="subscribe">订阅</span>
        </button>
        
        <div class="form-hint">
          注意：如果使用默认的Mosquitto服务器，可以不填写AccessKey ID和Secret
        </div>
      </form>
    </main>

    <!-- 装饰图片 -->
    <img class="illustration" src="../static/computer.png" alt="Illustration" />
  </div>

  <script>


  </script>



</body>

</html>