<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/vars.css" />
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="icon" href="../static/favicon.ico" />

  <style>
    a,
    button,
    input,
    select,
    h1,
    h2,
    h3,
    h4,
    h5,
    * {
      margin: 0;
      padding: 0;
      border: none;
      text-decoration: none;
      appearance: none;
      background: none;

      -webkit-font-smoothing: antialiased;
    }
  </style>
  <title>THP-数据发布</title>
</head>

<body>
  <div class="publish-app">
    <!-- 背景光效 -->
    <div class="right-botton-light"></div>
    <div class="left-up-light"></div>
    
    <!-- 头部标识 -->
    <header class="header-section">
      <div class="tong-ji">
        同济大学
        <br />
        软件工程
      </div>
    </header>

    <!-- 主要内容区域 -->
    <main class="main-content">
      <!-- 左侧内容区 -->
      <section class="left-section">
        <div class="thp-data-publish">
          <span class="thp-data-publish-span">THP-数据</span>
          <span class="thp-data-publish-span2">发布</span>
        </div>
        
        <div class="topic-publish">主题与发布</div>
        
        <div class="intro">
          从数据文件中读取温度、湿度、气压传感器数据或其他类型的数据，并通过MQTT代理发布。
        </div>

        <!-- 连接控制区域 -->
        <div class="control-section">
          <div class="control-group">
            <h3 class="control-title">连接控制</h3>
            <div class="connectIoT">
              <button class="button-connect" type="button">
                <span class="Connect">连接</span>
              </button>
              <button class="button-disconnect" type="button">
                <span class="Disconnect">断开连接</span>
              </button>
            </div>
          </div>

          <!-- 订阅控制区域 -->
          <div class="control-group">
            <h3 class="control-title">订阅管理</h3>
            <div class="sub-topic">
              <button class="button-sub-post" type="button">
                <span class="sub-post">订阅POST</span>
              </button>
              <button class="button-unsub-post" type="button">
                <span class="un-sub-post">取消订阅POST</span>
              </button>
            </div>
          </div>

          <!-- 发布控制区域 -->
          <div class="control-group">
            <h3 class="control-title">数据发布</h3>
            <div class="publish-data">
              <button class="button-pub-random" type="button">
                <span class="pub-random">发布随机数据</span>
              </button>
              <button class="button-pub-all" type="button">
                <span class="pub-all">发布所有数据</span>
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- 右侧日志区域 -->
      <section class="right-section">
        <div class="publish">
          <h2 class="title">发布日志</h2>
          <div class="logs"></div>
        </div>
      </section>
    </main>

    <!-- 装饰图片 -->
    <img class="illustration" src="../static/illustration0.png" alt="Illustration of Computers" />
  </div>

  <!-- ...（按键脚本）... -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      var connected = false;  // 跟踪连接状态
      var statusInterval; // 用于定期检查发布状态的变量
      var publishing = false; // 跟踪是否正在发布数据

      function updateLog(timestamp, message) {
        $('.logs').append('<div>' + timestamp + ': ' + message + '</div>');
      }
      function Log(message) {
        $('.logs').append('<div>' + message + '</div>');
      }

      $('.button-connect').click(function () {
        $.ajax({
          type: 'POST',
          url: '/connect',
          success: function (response) {
            connected = response.status === 'connected';
            updateLog(response.timestamp, response.message);
            // 更新按钮状态
            $('.button-connect').prop('disabled', connected);
            $('.button-disconnect').prop('disabled', !connected);
          },
          error: function () {
            updateLog('错误: 无法连接。');
          }
        });
      });

      $('.button-disconnect').click(function () {
        $.ajax({
          type: 'POST',
          url: '/disconnect',
          success: function (response) {
            connected = response.status === 'disconnected';
            updateLog(response.timestamp, response.message);
          }
        });
      });

      $('.button-pub-random').click(function () {
        $.ajax({
          type: 'POST',
          url: '/publishRandom',
          success: function (response) {
            connected = response.status === 'success';
            updateLog(response.timestamp, response.message);
          },
          error: function (xhr, status, error) {
            try {
              var response = JSON.parse(xhr.responseText);
              updateLog(response.timestamp, response.message);
            } catch (e) {
              updateLog('错误: ' + error);
            }
          }
        });
      });

      function checkPublishStatus() {
        $.ajax({
          type: 'GET',
          url: '/publishStatus',
          success: function (response) {
            if (response.error) {
              Log('错误: ' + response.error);
              clearInterval(statusInterval);  // 停止检查状态
            } else if (response.complete) {
              Log('发布完成。已发布的记录总数: ' + response.count);
              clearInterval(statusInterval);  // 停止检查状态
            } else {
              Log('已发布 ' + response.count + ' 条记录...');
            }
          }
        });
      }
      $('.button-pub-all').click(function () {
        if (!publishing) {
          $.ajax({
            type: 'POST',
            url: '/startPublish',
            success: function (response) {
              updateLog(response.timestamp, response.message);
              if (response.status === 'started') {
                publishing = true;
                $('.pub-all').text('停止'); // 更改按钮文本
                // 每秒检查一次状态
                statusInterval = setInterval(checkPublishStatus, 1000); // 开始定期检查发布状态
              }
            },
            error: function (xhr, status, error) {
              try {
                var response = JSON.parse(xhr.responseText);
                updateLog(response.timestamp, response.message);
              } catch (e) {
                updateLog('错误: ' + error);
              }
            }
          });
        } else {
          $.ajax({
            type: 'POST',
            url: '/stopPublish', // 停止发布的路由
            success: function (response) {
              publishing = false;
              $('.pub-all').text('发布所有'); // 恢复按钮文本
              // 如果有必要，显示最终发布状态
              clearInterval(statusInterval);  // 停止检查状态
              Log(response.message);
            },
            error: function (xhr, status, error) {
              Log('错误: ' + error);
            }
          });
        }
      });


      $('.button-sub-post').click(function () {
        $.ajax({
          type: 'POST',
          url: '/subPost',
          success: function (response) {
            connected = response.status === 'success';
            updateLog(response.timestamp, response.message);
          },
          error: function (xhr, status, error) {
            try {
                var response = JSON.parse(xhr.responseText);
                updateLog(response.timestamp, response.message);
              } catch (e) {
                updateLog('错误: ' + error);  // 处理错误情况
              }
          }
        });
      });

      $('.button-unsub-post').click(function () {
        $.ajax({
          type: 'POST',
          url: '/unSubPost',
          success: function (response) {
            connected = response.status === 'success';
            updateLog(response.timestamp, response.message);
          },
          error: function (xhr, status, error) {
            try {
                var response = JSON.parse(xhr.responseText);
                updateLog(response.timestamp, response.message);
              } catch (e) {
                updateLog('错误: ' + error);  // 处理错误情况
              }
          }
        });
      });
    });
  </script>
</body>

</html>